<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
    <script src="./city-data.js"></script>
</head>
<body>
    <div id="app">
        省：
        <select v-model="pro" >
            <option  v-for="(value,key,index) in getP" :value="value"  >{{value}}</option>
        </select>

        市：
        <select v-model="city">
            <option v-for="(value,key,index) in getC" :value="value">{{value}}</option>
        </select>
        区：
        <select  v-model="qu">
            <option v-for="(value,key,index) in getQ" :value="value">{{value}}</option>
        </select>

        <p>{{getC}}</p>
    </div>
</body>
<script>
let app = new Vue({
    el:'#app',
    data:{
        pro:"请选择",
        city:"请选择",
        qu:'请选择',
        cts:[],
    },
    computed:{
        getP(){
            let arr =  cityInfo.map(item=>item.name);
            arr.unshift("请选择");
            return arr;
        },
        getC(){
            let result=[];
            let arr = cityInfo.find(item=>item.name==this.pro);
            
            if(arr){
                this.cts = arr;
                result = arr.sub.map(item=>item.name);
            }
            return result;
        },
        getQ(){
            let result=[];
            let arr = cityInfo.find(item=>item.name==this.pro);
            if(arr){
                let ar = arr.sub.find(item=>item.name==this.city);
                if(ar){
                    result = ar.sub.map(item=>item.name);
                }
            }
            return result;
        },
    }
})
</script>
</html>